In [1]:
4+4

8

In [2]:
7//3

2

In [3]:
m =  input("enter your name")
print(m)

hello

In [4]:
type(m)

str

In [5]:
n = input("enter python expression")
print(n)
print(eval(n))

5+5
10

In [35]:
#mutability
s ='hello this is a new process'
print(s)
print(len(s))
type(s)

hello this is a new process
27

str

In [11]:
#slicing- [begin: end (exvlusive): step size]
#default valuese[:.........] 
s[0:5:1]

'hello'

In [31]:
s[::-1]

'ssecorp wen a si siht olleh'

In [30]:
s[4::-1]

'olleh'

In [29]:
s[-22:-28:-1]

' olleh'

In [8]:
s[-1]

'n'

In [36]:
print(s)

hello this is a new process

In [37]:
#insertion 
s += " here"
print(s)

hello this is a new process here

In [38]:
s[:5] + ' keshav' + s[5:]

'hello keshav this is a new process here'

In [45]:
s[:11] + ' ji ho ' +s[11:]

'hello this  ji ho is a new process here'

In [50]:
a = (20,'45,66',[1,2,3])

In [55]:
a[-1][1]

2

In [70]:
a[-2][3:5]

'66'

In [71]:
del a[-1][2]

In [72]:
a

(20, '45,66', [1, 2])

In [75]:
a[-2][3:5]

'66'

In [76]:
e ={4,6,3,6,6,5,23,6,6,3}
print(e)

{3, 4, 5, 6, 23}

In [2]:
s = "this will last at most {} days"
days = 10
s =s.format(days)
print(s)

this will last at most 10 days

In [4]:
e.append(50); print(e)
print(e.count(10))
e.extend([1,2,3,5,4]); print(e)
print(e.index(4))
e.insert(2,100); print(e)
print(e.pop());print(e)
e.remove(4);print(e)
e.reverse();print(e)
e.sort();print(e)
e1 = e.copy()
e2 = e

NameError: name 'e' is not defined

In [5]:
type(e)

NameError: name 'e' is not defined

In [6]:
#shallo copy vs deep copy
#dictonary 
#set functions

print(h)
h.add(50);print(h)
print(h).difference({10,20,50,60})

NameError: name 'h' is not defined

In [7]:
list(range(1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#args and kwargs
def abc6(x=1, y=0, *p, **q):
    print(x*2, y+x+y)
    print(p)
    print(q)
    print('')

In [9]:
abc6(5,4)

10 13
()
{}

In [10]:
abc6(5,4,9,10,'ji,23')

10 13
(9, 10, 'ji,23')
{}

In [11]:
abc6(5,4,9,10,34,456,'ki',m=23,n=[4,7,8])

10 13
(9, 10, 34, 456, 'ki')
{'m': 23, 'n': [4, 7, 8]}

In [ ]:
#error and exception handling
##try- except- else- finally

In [18]:
try:
    a = 10
    b = int(input('enter the naumber:'))
    print(a/b)
except ValueError as err:
    print(err)
    print(a)
except ZeroDivisionError as err:
    print(err,b)
    print(a)
print("kam ho gya")

invalid literal for int() with base 10: ''
10
kam ho gya

In [ ]:
#in python a function can be assigned to n variable

In [22]:
a = 10
def xyz():
    global a
    a=20
    print(a)
print(a)
xyz()
print(a)

10
20
20

In [23]:
def basket():
    def dox():
        print('npc')
    dox()
basket()

npc

In [28]:
def awesome(f,m,n):
    return f,m+n

In [26]:
def abc(x,y):
    return x+y

In [30]:
#decorator
def decorate(f):
    def special():
        print('ye to special hi ')
        f()
        print('decorate ho gya')
    return special

In [39]:
@decorate
@decorate
@decorate
def simple():
    print("mai to bahut simple hu")
#simple = decorate(simple)

In [40]:
simple()

ye to special hi
ye to special hi
ye to special hi
mai to bahut simple hu
decorate ho gya
decorate ho gya
decorate ho gya

In [41]:
#ANNONYMOUS FUNCTION
#lambda expression
# lambda ip_args: op_args
def normal(x,y):
    return x*y
m= normal(4,5)
print(m)

20

In [44]:
lambda x,y:x*y
normal(4,5)

20

In [ ]:
def my_mapper(func, values)
result

In [1]:
a = 10
for i in range(a):
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

In [9]:
#generator
def normal():
    yield 5
    yield 6
    yield 'hi'

In [11]:
b=normal()
b

In [12]:
next(b)

5

In [13]:
next(b)

6

In [14]:
next(b)

'hi'

In [15]:
list(b)

[]

In [19]:
a = [4,7,8,4,6]
def make(data):
    for i in data:
        yield i
b=[]
for i in make(a):
    b.append(i*2)
print(b)

[8, 14, 16, 8, 12]

In [1]:
import numpy as np

In [99]:
a = np.array([3,5,9,87,5,6])
a

array([ 3,  5,  9, 87,  5,  6])

In [18]:
def show_array(arr):
    print('array:',arr,sep='\n')
    print('type:',type(arr))
    print('size:',arr.size)
    print("shape:",arr.shape)
    print('dimension:',arr.ndim)

In [12]:

print(a.shape)
print(a.size)
print(a.dtype)

(6,)
6
int32

In [13]:
len(a)

6

In [94]:
# 10  11  12  14
# 45  22   9   2
# 6    5   1   8
b = np.array([[10,11,12,14],[45,22,9,2],[6,5,1,8]])
show_array(b)

array:
[[10 11 12 14]
 [45 22  9  2]
 [ 6  5  1  8]]
type: <class 'numpy.ndarray'>
size: 12
shape: (3, 4)
dimension: 2

In [72]:
c=np.array([[[10,100],[11,110],[13,130],[14,140]],[[45,145],[22,122],[9,19],[2,12]],[[6,16],[5,15],[1,11],[8,18]]])

In [76]:
b[-1:,:1]
c[:1,:2,:1]
c[:,1:2,:1]
c[-2:,-1:,:1]
c[:2,-2:,:]

array([[[ 13, 130],
        [ 14, 140]],

       [[  9,  19],
        [  2,  12]]])

In [ ]:
#array operations
### 1. item accessing : subscripting, slicing
### 2. item assignment
### 3. item insertion
### 4. item deletion
### 5. arithmetic

In [31]:
#subscripting
b[0,0]
b[:,-2:-1]

array([[12],
       [ 9],
       [ 1]])

In [77]:
#item insertion
np.append(a,80)

array([ 3,  5,  9, 87,  5,  6, 80])

In [91]:
np.append(b, [[9,90,900,9000]],axis = 0)

array([[  10,   11,   12,   14],
       [  45,   22,    9,    2],
       [   6,    5,    1,    8],
       [   9,   90,  900, 9000]])

In [96]:
np.append(b,[[9],[90],[900]], axis=1)

array([[ 10,  11,  12,  14,   9],
       [ 45,  22,   9,   2,  90],
       [  6,   5,   1,   8, 900]])

In [103]:
#item deletion
b1 = b.copy()
np.delete(b1,0,axis=0)

array([[45, 22,  9,  2],
       [ 6,  5,  1,  8]])

In [104]:
#arthmetic operations
b1*2

array([[20, 22, 24, 28],
       [90, 44, 18,  4],
       [12, 10,  2, 16]])

In [110]:
#array manipulation
#arr.reshape()
#np.array()
#np.arange()   array version of range func, also allows float
#np.linspace()  start  end no of items
#np.ones()    generate all values as 1
#np.zeros()     generate 
#np.random.random()
#np.random.randint()
b.reshape(2,6)
b.astype(float)
b.astype('uint16')

array([[10, 11, 12, 14],
       [45, 22,  9,  2],
       [ 6,  5,  1,  8]], dtype=uint16)

In [111]:
np.ones((3,4),dtype=int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])